<html>
    <head>
        <meta charset = "utf-8">
        <title>Websocket 101 </title>
        <link href = "/styles.css" rel = "stylesheets" />
    </head>
    <body>
        <h1> Hello</h1>
    </body>
</html>